body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #0e0e0e;
    color: white;
}

.body-content {
    color: white;
    text-align: center;
}

.body-content h2 {
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
}