@{
    ViewData["Title"] = "About";
}

<div class="jumbotron jumbotron-fluid" style="margin-top: 10px;">
    <div class="container">
        <div class="card">
            <div class="card-body bg-dark text-white">
                <h1 class="display-4">About</h1>

                <p class="text-start">
                    Originally created to answer part of the question, how does Device A compare to Device B from a computation perspective irregardless of the platform? In particular, older RISC era computers that wouldn't be able to run PCMark or 3DMark.<br /><br />

                    Over time this grew to support BSD, IRIX, Solaris, Android and many other platforms written in C originally given GCC being available on even a NeXT Motorola 68k computer. Eventually I ported it to C#, provided a WPF Desktop app and eventually a .NET Core CLI tool. However, this limited the platforms I could target - almost explicitly negating any of the older platforms I was more curious about. Those still reading might be asking, why Rust then? It does allow more platforms than C#, while also providing a way to perhaps extend to those older platforms given their list of platforms being fairly <a href="https://forge.rust-lang.org/infra/other-installation-methods.html">large</a>.
                </p>
            </div>
        </div>
    </div>
</div>