@{
    ViewData["Title"] = "About";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About</h1>
        
        <p class="lead">
            Originally created to answer part of the question, how does Device A compare to Device B from a computation perspective irregardless of the platform?
            Over time this grew to support BSD, IRIX, Solaris, Android and many other platforms written in C# and C++.  However, supporting two different languages was problematic, so a rewrite into Rust was made to support just modern operating systems.
        </p>
    </div>
</div>